<!DOCTYPE html>
<html>
<head>
  <title>Twiapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p> 
Hi. We're Twilio.
We empower developers to build powerful communication. Twilio powers the future of business communications, enabling phones, VoIP, and messaging to be embedded into web, desktop, and mobile software. We take care of the messy telecom hardware and expose a globally available cloud API that developers can interact with to build intelligent & complex communications systems. As your app’s usage scales up or down, Twilio automatically scales with you. You only pay for what you use - no contracts, no shenanigans.
</p>
<%= yield %>

</body>
</html>
